<% layout('layouts/theme-boilerplate') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Tasks Created</p>
                    <h3 class="card-title"><%= tasks_length %></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 1 month
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div
                    class="card-header <%= errors_length != 0 ? 'card-header-danger' : 'card-header-success' %> card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">Error Reports</p>
                    <h3 class="card-title"><%= errors_length %></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked on Notifications
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <p class="card-category">Users</p>
                    <h3 class="card-title"><%= users.length %></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Updated Dynamically
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">User Stats</h4>
                    <p class="card-category">Showcases the 10 lastest registrations</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Database ID</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Is Staff ?</th>
                            <th>Email</th>
                        </thead>
                        <tbody>
                            <% if(users.length > 10) { %>
                            <% for(i = 0; i < 10; i++) { %>
                            <tr>
                                <td><%= users[i]._id %></td>
                                <td><%= users[i].username %></td>
                                <td><%= users[i].fname + " " + users[i].lname %></td>
                                <td><%= users[i].is_superuser %></td>
                                <td><%= users[i].email %></td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <% for(i=0; i < users.length; i++) { %>
                            <tr>
                                <td><%= users[i]._id %></td>
                                <td><%= users[i].username %></td>
                                <td><%= users[i].fname + " " + users[i].lname %></td>
                                <td><%= users[i].is_superuser %></td>
                                <td><%= users[i].email %></td>
                            </tr>
                            <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
