<div class="paginator">
    <ul class="pagination">
        <% if(tasks.page - 1) {%>
            <li class="page-item">
                <a class="page-link" href="/tasks?page=<%= tasks.page - 1 %>">Prev</a>
            </li>
        <% } %>
        <% for(let i = 1; i <= tasks.pages; i++) {%>
            <li class=" page-item <%= i === tasks.page ? "active" : "" %>">
                <a href="/tasks?page=<%= i %>" class="page-link" %>><%= i %></a>
            </li>
        <% } %>
        <% if((tasks.page + 1) <= tasks.pages) {%>
            <li class="page-item">
                <a href="/tasks?page=<%= tasks.page + 1 %>" class="page-link">Next</a>
            </li>
        <% } %>
    </ul>
</div>
