<% layout('layouts/boilerplate') -%>

<% include ../partials/navbar.ejs %>

<div id="task-detail" class="row max-width">
    <div class="<%= task.author.equals(currentUser._id) ? 'col-7' : 'col' %>">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title"><%= task.title.toUpperCase() %></h2>
                <h6 class="card-text text-muted"><strong>Offered Pay:</strong> <%= task.price_range %></h6>
                <p class="card-text"><%= task.description %></p>
                <% if(task.additional_content.secure_url != null && task.additional_content.secure_url != "") { %>
                <a href="<%= task.additional_content.secure_url %>" class="card-link task-action"><i
                        class="fas fa-external-link-square-alt"></i> Attached Content</a>
                <% } %>
            </div>

            <% if(task.author.equals(currentUser._id)) {%>
            <div class="card-footer d-flex justify-content-center">
                <a href="/tasks/<%= task.id%>/edit"><button class="task-action">Edit Task</button></a>
                <form action="/tasks/<%= task.id%>?_method=DELETE" method="POST">
                    <input type="submit" class="task-action" value="Delete">
                </form>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Show Bids -->
    <div class="<%= task.author.equals(currentUser._id) ? 'col-5' : 'd-none' %>">
        <div id="bids">
            <div class="card text-center">
                <div class="card-body" style="overflow-y: scroll; max-height: 85vh;">
                    <h2 class="card-title">Bids</h2>
                    <% if(bids.length == 0) { %>
                    <h5 class="card-text text-muted">No Bids Yet!</h5>
                    <% } else { %>
                    <div class="accordion" id="bidList">
                        <% bids.forEach(function(bid) { %>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#<%= bid.author.username %>"><%= bid.bid %> Ksh Bid by
                                        <%= bid.author.fname %></button>
                                </h2>
                            </div>
                            <div class="collapse" id="<%= bid.author.username %>" data-parent="#bidList">
                                <div class="card-body">
                                    <p class="card-text"><%= bid.description %></p>
                                    <form action="/tasks/<%= task.id %>/accept_bid?_method=PUT" method="post">
                                        <input type="hidden" name="bidder" value="<%= bid.author._id %>">
                                        <button type="submit" class="btn btn-outline-success btn-sm"> Accept Bid </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(!task.author.equals(currentUser._id)) { %>
<form action="/tasks/<%= task.id%>/bids" method="POST">
    <div class="card">
        <div class="form-row">
            <div class="col-8">
                <textarea name="description" class="form-control" required minlength="5"
                    placeholder="Description"></textarea>
            </div>
            <div class="col-2">
                <input type="number" name="bid" class="form-control" required placeholder="Bid(Kshs)">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Submit Bid</button>
            </div>
        </div>
</form>
</div>
<% } %>
